<!-- /////////////////////  Footer Start ////////////////////////////// -->
<div class="container-fluid" id="footer" >
<div class="row"> 
    <div class="col-sm-12 text-center"> 
    <a href="#">About Us </a> <span class="footer-pipe"> | </span> <a href="#"> Members List </a> <span class="footer-pipe"> | </span> <a href="#"> Gallery </a> <span class="footer-pipe"> | </span> <a href="#"> News and Events </a> <span style="color:#CCC; margin:15px"> | </span> <a href="#"> Contact Us</a> </div>

</div>
</div>
<!-- /////////////////////  Footer End ////////////////////////////// -->