<!-- /////////////////////  Footer Start ////////////////////////////// -->
<!-- <div class="container-fluid" id="footer" >
<div class="row"> 
    <div class="col-sm-12 text-center"> 
    <a href="#">About Us </a> <span class="footer-pipe"> | </span> <a href="#"> Members List </a> <span class="footer-pipe"> | </span> <a href="#"> Gallery </a> <span class="footer-pipe"> | </span> <a href="#"> News and Events </a> <span style="color:#CCC; margin:15px"> | </span> <a href="#"> Contact Us</a> </div>

</div>
</div> -->
<!-- /////////////////////  Footer End ////////////////////////////// -->

<div class="footer-area">
    <div class="container">
        <div class="row footer">
            <div class="col-md-4">
                <div class="single-footer">
                    <a class="navbar-brand text-center" href="index.html"  > <%= image_tag("logofinal1.png",:alt => "rss feed", :style => "height:40px;width:315px;") %></a>
                    <div class="col-md-12">
                    <p>This portal helps pepole to connect with their society people's and help them to share the photos and videos, to know the lattest update of community group</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-footer">
                    <h4>Twitter update</h4>
                    <div class="twitter-updates">
                        <div class="single-tweets">
                            <h5>ABOUT 9 HOURS</h5>
                            <p><strong>AGOMeet Aldous</strong> - a Brave New World for #rails with more cohesion, less coupling and greater dev speed <a href="http://t.co/rsekglotzs">http://t.co/rsekglotzs</a></p>
                        </div>
                        <div class="single-tweets">
                            <h5>ABOUT 9 HOURS</h5>
                            <p><strong>AGOMeet Aldous</strong> - a Brave New World for #rails with more cohesion, less coupling and greater dev speed <a href="http://t.co/rsekglotzs">http://t.co/rsekglotzs</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-footer">
                    <h4>Useful lnks</h4>
                    <div class="footer-links">
                        <ul class="list-unstyled">
                            <li><a href="">About Us</a></li>
                            <li><a href="" class="active">Services</a></li>
                            <li><a href="">Work</a></li>
                            <li><a href="">Our Blog</a></li>
                            <li><a href="">Customers Testimonials</a></li>
                            <li><a href="">Affliate</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>