<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<div class="form-group">
    <%= form_tag '/search', :method => "post" do %>
      <%= text_field_tag :name,nil, :class => "form-control",:placeholder => "Find People" %>
      <%#= submit_tag 'search' %>
    <%end %>
	</div>
	<ul class="nav" id="side-menu">
		<li>
      <%= link_to profile_path(current_user.profile) do %>
      <i class="fa fa-user" aria-hidden="true"></i> My Profile<span class="fa arrow"></span>
      <% end %>
    </li>
    <li>
      <a href="#"><i class="fa fa-users" aria-hidden="true"></i> My Family<span class="fa arrow"></span></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Messages</a>
    </li>
  </ul>
</div><!--/.sidebar-->