<div class="form-group">
                                  <label class="col-lg-3 control-label">Married Status:</label>
                                    <div class="col-lg-8">
                                      <div class="ui-select">
                                      
                                       <%= f.select :married_status,[["SELECT", "SELECT"],["Never Married", "Never Married"],["Windowed","Windowed"],["Divorced","Divorced"],["Awaiting Divorced","Awaiting Divorced"]],{},{:class => "form-control"} %>
                                      </div>
                                    </div>
                                </div>
                               <!--  <div class="form-group">
                                  <label class="col-lg-3 control-label">Anniversary Date:</label>
                                  <div class="col-lg-8">
                                  <%#= f.date_select :anniversary_date,:start_year=>1900,:html => {:class => "form-control"}%>
                                  </div>
                                </div> -->