@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-size: 24px;
}
p {
	font-size: 13px;
	line-height: 21px;
}
.semiBold {
	font-weight: 700;
}
.admin_Bg {
	background-color: #f0f0f0;
	padding: 30px;
}
.profileArea {
	background: #fff;
	border-top: 4px solid #f89c2c ;
	padding: 30px;
}
.profileArea .profileImg {
	width: 100%;
	height: auto;
}
.profileArea .profileTable {
	margin: 30px 0;
}
.adminTabArea {
	width: 100%;
}
.adminTabArea .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background: #f85d2c;
	color: #fff;
	border: 0;
} 
.adminTabArea .nav-tabs {
	background: #f89c2c;
}
.adminTabArea .nav-tabs > li > a {
	border-radius: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
	color: #fff;
}
.adminTabArea .nav > li > a:focus, .nav > li > a:hover {
    background: rgba(255,255,255,0.2);
    text-decoration: none;
    border: 1px solid transparent;
}