<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'profile', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'profile', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



</body>
</html>
